/.idea/
/*.iml

/vendor/
/vendor-bin/*/vendor/

/.php-cs-fixer.cache
/tests/.phpunit.cache

/node_modules/
#/js/

# Extracted cores from `npm run cores`. Only fceumm and the license are committed.
/img/cores/*
!/img/cores/fceumm_libretro.js
!/img/cores/fceumm_libretro.wasm
!/img/cores/license

package-lock.json
